:root {
    --main-text: #000000;
    --secondary-text: #757575;
    --white-text: #FFFFFF;
    --accent-color: #2196F3;
    --command-background: #F5F4FA;
    --button-text: #212121
}

/* боді */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: var(--main-text);
}
/* приховані заголовки */
.hiden-title {
    display: none;
}
/* header */
header {
    width: 1600px;
    height: 80px;
    display: flex;
    border-bottom: 1px solid #ECECEC;
}
/* лого */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    text-decoration: none;
    color: var(--main-text);

    display: block;
    width: 145px;
    margin: auto 0 auto 215px;

}

.logo-web {
    color: var(--accent-color);
}
.navigation {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    width: 281px;
    margin-left: 93px;
}
.nav-list {
    list-style-type: none;
    display: flex;
    width: 281px;
    padding-left: 0;
    margin: 32px 0 32px 0;
}
.nav-list a {
    text-decoration: none;
    color: var(--main-text);

    display: block;
}
.nav-list li:not(:first-child) {
    margin-left: 50px;
}
.nav-list .active-page {
    color: var(--accent-color);
}
.contacts-header {
    font-weight: 500;
    line-height: 1.14;
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin: 32px 0 32px 344px;
}
.contacts-header a {
    color: var(--secondary-text);
    text-decoration: none;

    display: block;
}
.tel {
    margin-left: 50px;
}
/* hover+focus */
.hover:hover {
    color: var(--accent-color);
}

/* footer */
footer {
    background-color: #2F303A;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    width: 1600px;
    height: 252px;
    padding: 60px 0 60px 215px;
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    color: var(--white-text);
}
address {
    font-style: normal;
    color: var(--white-text);
    margin-top: 20px;
}
footer p {
    margin: 0;
}
.contacts-footer {
    color: var(--secondary-text);
    text-decoration: none;
}
.mail-footer {
    width: 136px;
    margin-top: 9px;
}
.tel-footer{
    width: 231px;
    margin-top: 9px;
}
/* main content */

/* heroic */
.heroic {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
    padding: 200px 452px;
}
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-text);
    width: 696px;
    height: 120px;
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text);
    background-color: var(--accent-color);

    display: block;
    margin: 30px auto;

    height: 50px;
    width: 216px;
    border: 0px;
    border-radius: 4px;
}
/* benefits */

.benefits-list {
    list-style-type: none;

    display: flex;
    width: 1170px;
    margin: 94px auto 0 auto;
    padding: 0;
}
.benefits-item {
    width: 270px;
    margin-right: 30px;
}
.benefits-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text);
}
.benefits-text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text);
}
/* чим займаємось */
.employment {
    width: 1170px;
    height: 386px;
    margin: 94px auto;
    padding: 0;
}
.employment-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin: 0 auto;
}
.employments-img {
    display: flex;
    margin-top: 50px;
}
.employment img:not(:last-child) {
    margin-right: 30px;
}

/* наша команда */
.command {
        background-color: var(--command-background);
            width: 1600px;
            height: 648px;
            padding: 94px 215px;
}

.command-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 50px 0 94px 0;
}
.command-list li {
    background-color: var(--white-text);

    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.command-list li:not(:last-child) {
    margin-right: 30px;
}
.command-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text);
}

/* PORTFOLIO */
.examples {
    width: 1170px;
    height: 1360px;
    border: 1px solid #EEEEEE;
    margin: 94px 215px;
}
.filter {
    list-style-type: none;


    display: flex;
}
.filter-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--button-text);
    background-color: var(--command-background);
    border: 0;
    border-radius: 4px;
}
.filter-button:hover,
.filter-button:focus,
.active-button {
    color: var(--white-text);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.examples-list {
    list-style-type: none;

}
.examples-list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.examples-list p {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--secondary-text);
}



